.content{
   margin-left: 230px;
   padding-bottom: 50px;
   header.container-fluid{
      padding:4px 25px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      background-color: #fff;
      border-bottom: 1px solid #ececee;
   }
   .wraper {
      padding: 20px 25px;
      min-height: 550px;
   }
}
