   .relative{
      position:relative;
   }

/*----------  Background  ----------*/
   .bg-main{
      background: $main-color;
   }
   .bg-grey{
      background: #EDF0F0;
   }

   .nowarp{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

/*----------  Min with show scroll   ----------*/
   .min-w-360{
      min-width: 420px;
      overflow:auto;
   }
