   .relative{
      position:relative;
   }

/*----------  Background  ----------*/
   .bg-main{
      background: $main-color;
   }
   .bg-grey{
      background: #EDF0F0;
   }

   .nowarp{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

/*----------  Min with show scroll   ----------*/
   .min-w-360{
      min-width: 420px;
      overflow:auto;
   }
   .min-w-150{
      min-width: 150px;
   }
   .min-h-135{
      min-height: 135px;
   }
/*----------  Max with  ----------*/
   .max-w-1200{
      width:100%;
      max-width:1200px;
   }
   .max-w-920{
      width:920px;
   }
   .w-10-percent{
      width:10%;
   }

/*----------  Flex  ----------*/
   .flex{
      display: flex;
      &.wrap{
         flex-wrap:wrap;
      }
   }
/*----------  Images  ----------*/
   .img-circle.border{
      border:2px solid #255994;
   }
/*----------  Margin  ----------*/
   .mg-0{
      margin:0!important;
   }
   .mgt-0{
      margin-top:0;
   }
   dl.dl-horizontal.desc.mgt-0{
      margin-top:0;
   }
/*----------  Dl horizonal Description  ----------*/
   dl.dl-horizontal{
      @include respond-to('small-tablet') {
         dt.text-right,dt{
            text-align: left;
            padding-left: 50px;
         }
      }
   }
   .dl-fake{
      padding-left: 50px;
      margin-left: 180px;
      @include respond-to('medium-tablet') {
         padding:0;
         margin:0;
      }
   }