$bodyfont: "メイリオ","Meiryo","ＭＳ Ｐゴシック","MS P Gothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka",arial,sans-serif;

/* Color */
   $main-color: #022652;

/* Transition */
$fast:transition all .3s;