mixin sidebar(page)
   // Aside Start
   aside.left-panel
      // brand
      .logo
         a.logo-expanded(href='index.html')
            img(src='http://placehold.it/300x60', alt='logo')
      // / brand
      // Navbar Start
      nav.navigation
         ul.list-unstyled
            if page == 'course'
               li.has-submenu.active
                  a(href='course.html')(title='Course')
                     span.nav-label コース
            else
               li.has-submenu
                  a(href='course.html')(title='Course')
                     span.nav-label コース
            if page == 'reservation'
               li.has-submenu.active
                  a(href='reservation.html')(title='Reservation')
                     span.nav-label 予約
            else
               li.has-submenu
                  a(href='reservation.html')(title='Reservation')
                     span.nav-label 予約
            if page == 'client'
               li.has-submenu.active
                  a(href='client.html')(title='Client')
                     span.nav-label 顧客
            else
               li.has-submenu
                  a(href='client.html')(title='Client')
                     span.nav-label 顧客
            if page == 'coupon'
               li.has-submenu.active
                  a(href='coupon.html')(title='Coupon')
                     span.nav-label クーポン
            else
               li.has-submenu
                  a(href='coupon.html')(title='Coupon')
                     span.nav-label クーポン
            if page == 'translation'
               li.has-submenu.active
                  a(href='translation.html')(title='Translation')
                     span.nav-label 翻訳
            else
               li.has-submenu
                  a(href='translation.html')(title='Translation')
                     span.nav-label 翻訳
            if page == 'email'
               li.has-submenu.active
                  a(href='email.html')(title='Email')
                     span.nav-label メール
            else
               li.has-submenu
                  a(href='email.html')(title='Email')
                     span.nav-label メール
            if page == 'fixed-phrase'
               li.has-submenu.active
                  a(href='fixed-phrase.html')(title='Fixed Phrase')
                     span.nav-label 定型文
            else
               li.has-submenu
                  a(href='fixed-phrase.html')(title='Fixed Phrase')
                     span.nav-label 定型文
            if page == 'admin'
               li.has-submenu.active
                  a(href='admin.html')(title='Admin User')
                     span.nav-label 管理ユーザー
            else
               li.has-submenu
                  a(href='admin.html')(title='Admin User')
                     span.nav-label 管理ユーザー
            if page == 'agent'
               li.has-submenu.active
                  a(href='agent.html')(title='Agent Management')
                     span.nav-label エージェント管理
            else
               li.has-submenu
                  a(href='agent.html')(title='Agent Management')
                     span.nav-label エージェント管理
   // Aside Ends