mixin sidebar
   // Aside Start
   aside.left-panel
      // brand
      .logo
         a.logo-expanded(href='index.html')
            img(src='http://placehold.it/300x60', alt='logo')
      // / brand
      // Navbar Start
      nav.navigation
         ul.list-unstyled
            li.has-submenu
               a(href='#')
                  i.ion-home
                  span.nav-label Dashboard
               ul.list-unstyled
                  li
                     a(href='index.html') Dashboard v1
                  li
                     a(href='dashboard2.html') Dashboard v2
            li.has-submenu
               a(href='#')
                  i.ion-flask
                  span.nav-label UI Elements
               ul.list-unstyled
                  li
                     a(href='typography.html') Typography
                  li
                     a(href='buttons.html') Buttons
                  li
                     a(href='icons.html') Icons
                  li
                     a(href='panels.html') Panels
                  li
                     a(href='tabs-accordions.html') Tabs & Accordions
                  li
                     a(href='modals.html') Modals
                  li
                     a(href='bootstrap-ui.html') BS Elements
                  li
                     a(href='progressbars.html') Progress Bars
                  li
                     a(href='notification.html') Notification
                  li
                     a(href='sweet-alert.html') Sweet-Alert
            li.has-submenu
               a(href='#')
                  i.ion-settings
                  span.nav-label Components
               ul.list-unstyled
                  li
                     a(href='grid.html') Grid
                  li
                     a(href='portlets.html') Portlets
                  li
                     a(href='widgets.html') Widgets
                  li
                     a(href='nestable-list.html') Nesteble
                  li
                     a(href='calendar.html') Calendar
            li.has-submenu
               a(href='#')
                  i.ion-compose
                  span.nav-label Forms
               ul.list-unstyled
                  li
                     a(href='form-elements.html') General Elements
                  li
                     a(href='form-validation.html') Form Validation
                  li
                     a(href='form-advanced.html') Advanced Form
                  li
                     a(href='form-wizard.html') Form Wizard
                  li
                     a(href='form-editor.html') WYSIWYG Editor
                  li
                     a(href='code-editor.html') Code Editors
                  li
                     a(href='form-uploads.html') Multiple File Upload
                  li
                     a(href='image-crop.html') Image Crop
            li.has-submenu
               a(href='#')
                  i.ion-grid
                  span.nav-label Data Tables
               ul.list-unstyled
                  li
                     a(href='tables.html') Basic Tables
                  li
                     a(href='table-datatable.html') Data Table
            li.has-submenu
               a(href='#')
                  i.ion-stats-bars
                  span.nav-label Charts
               ul.list-unstyled
                  li
                     a(href='morris-chart.html') Morris Chart
                  li
                     a(href='chartjs.html') Chartjs
                  li
                     a(href='flot-chart.html') Flot Chart
                  li
                     a(href='rickshaw-chart.html') Rickshaw Chart
                  li
                     a(href='c3-chart.html') C3 Chart
                  li
                     a(href='other-chart.html') Other Chart
            li.has-submenu
               a(href='#')
                  i.ion-email
                  span.nav-label Mail
               ul.list-unstyled
                  li
                     a(href='inbox.html') Inbox
                  li
                     a(href='email-compose.html') Compose Mail
                  li
                     a(href='email-read.html') View Mail
            li.has-submenu
               a(href='#')
                  i.ion-location
                  span.nav-label Maps
               ul.list-unstyled
                  li
                     a(href='gmap.html')  Google Map
                  li
                     a(href='vector-map.html')  Vector Map
            li.has-submenu
               a(href='#')
                  i.ion-document
                  span.nav-label Pages
               ul.list-unstyled
                  li
                     a(href='profile.html') Profile
                  li
                     a(href='timeline.html') Timeline
                  li
                     a(href='invoice.html') Invoice
                  li
                     a(href='contact.html') Contact-list
                  li
                     a(href='login.html') Login
                  li
                     a(href='register.html') Register
                  li
                     a(href='recoverpw.html') Recover Password
                  li
                     a(href='lock-screen.html') Lock Screen
                  li.active
                     a(href='blank.html') Blank Page
                  li
                     a(href='404.html') 404 Error
                  li
                     a(href='404_alt.html') 404 alt
                  li
                     a(href='500.html') 500 Error
   // Aside Ends