.welcome-page{
   background: #EDF0F0;
   section.content{
      height: 100vh;
      &>.wraper{
         height: calc(100% - 50px);
         display: flex;
         align-items: center;
         justify-content: center;
         h1{
            color:#fff;
            font-size: 90px;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
         }
      }
   }
}