/*----------  Sortable  ----------*/
  table.sorted_table{
      i{
         float:right;
         cursor: pointer;
         font-size:24px;
      }
  }  
  body.dragging, body.dragging * {
    cursor: move !important;
  }
  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  tr.placeholder {
    position: relative;
    /** More li styles **/
  }
  tr.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
    content: "\f105";
    display: block;
    color:red;
    margin-left: -8px;
    margin-top:2px;
    font-size: 24px;
    font-family: 'FontAwesome';
  }