include modules/head/head
include modules/sidebar/sidebar
include modules/header/header
doctype html
html
   +head
   body.bg-grey
   +sidebar
   //Main Content Start 
   section.content
      +header
      .wraper.container-fluid
         .page-title
            a
               h3 
                  i.fa.fa-angle-left(aria-hidden='true')
                  | Back
         ul.nav.nav-pills.tab-head
            li.active
               a(data-toggle='pill', href='#home') Home
            li
               a(data-toggle='pill', href='#menu1') Menu 1
            li
               a(data-toggle='pill', href='#menu2') Menu 2
         .tab-content
            #home.tab-pane.fade.in.active
               .panel.panel-default
                  h3.sub-title background
                  dl.dl-horizontal
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
               .panel.panel-default
                  h3.sub-title background
                  dl.dl-horizontal
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
                     dt.text-right Label
                     dd.text-left Sed ut perspiciatis unde omnis iste
               .panel.panel-default.scroll
                  .row.min-w-360
                     .col-xs-12
                        h3.sub-title background
                     .col-lg-offset-2.col-md-offset-0.col-lg-7
                        .row
                           label.col-xs-7 background
                           label.col-xs-5 background
                        .row
                           .col-xs-7
                              select.form-control.select2
                                 option 1 エージェントグループ一覧
                                 option 2 エージェントグループ一覧
                                 option 3 エージェントグループ一覧
                           .col-xs-5
                              .group-style-1
                                 input.form-control.sm.inline(type='text')
                                 span %
                                 a(href='#')
                                    i.fa.fa-trash(aria-hidden='true')
            #menu1.tab-pane.panel.panel-default.fade
               h3 Menu 1
               p
                  | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #menu2.tab-pane.panel.panel-default.fade
               h3 Menu 2
               p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
         .row
            .col-sm-12
               .panel.panel-default

   // Main Content Ends 