include modules/head/head
include modules/sidebar/sidebar
include modules/header/header
doctype html
html
   +head
   body
   +sidebar
   //Main Content Start 
   section.content
      +header
      .wraper.container-fluid
         .page-title
            h3.title エージェントグループ一覧
         .row
            .col-sm-12
               .panel.panel-default
                  form.form-inline.top-form
                     .form-group.feedback-left.search
                        input.form-control(placeholder='Search...', type='text')
                     .form-group
                        select.form-control.select2
                           option 1 エージェントグループ一覧
                           option 2 エージェントグループ一覧
                           option 3 エージェントグループ一覧
                     .form-group
                        select.form-control.select2
                           option エージェントグループ一覧
                           option エージェントグループ一覧
                           option エージェントグループ一覧
                     .form-group
                        select.form-control.select2
                           option エージェントグループ一覧
                           option エージェントグループ一覧
                           option エージェントグループ一覧
                     .form-group
                        select.form-control.select2
                           option エージェントグループ一覧
                           option エージェントグループ一覧
                           option エージェントグループ一覧
            .col-sm-12
               .panel.panel-default
                  .table-responsive
                     table.table.table-hover
                        thead
                           tr
                              th #
                              th First Name
                              th Last Name
                              th Username
                              th Age
                              th City
                        tbody
                           tr
                              td 1
                              td Mark
                              td Otto
                              td @mdo
                              td 20
                              td Cityname
                           tr
                              td 2
                              td Jacob
                              td Thornton
                              td @fat
                              td 20
                              td Cityname
                           tr
                              td 3
                              td Larry
                              td the Bird
                              td @twitter
                              td 20
                              td Cityname
                           tr
                              td 4
                              td Steve
                              td Mac Queen
                              td @steve
                              td 20
                              td Cityname
            .col-sm-12.text-center
               ul.pagination
                  li
                     a(href='#') «
                  li
                     a(href='#') 1
                  li
                     a(href='#') 2
                  li
                     a(href='#') 3
                  li
                     a(href='#') 4
                  li
                     a(href='#') 5
                  li
                     a(href='#') »
   // Main Content Ends 