include modules/head/head
include modules/sidebar/sidebar
include modules/header/header
doctype html
html
   +head
   body.welcome-page
   +sidebar
   //Main Content Start 
   section.content
      +header
      .wraper.container-fluid
         h1 YOKOSO JAPAN CMS
   // Main Content Ends 